<!DOCTYPE html>
{% load staticfiles %}
{% load compress %}
<html lang="en"  ng-app="scotchApp">
<head>
    <title>AngularJS Routes example</title>
      <base href="/" />
       <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  {% compress js %}
    <script type="text/javascript" src="{% static 'bower_components/angular/angular.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-ui/build/angular-ui.js' %}"></script>
   <!--  <script type="text/javascript" src="{% static 'bower_components/angular-material/angular-material.min.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-ui-grid/ui-grid.min.js' %}"></script>
    
    <script src="{% static 'bower_components/chart.js/dist/Chart.min.js' %}"></script>
	<script src="{% static 'bower_components/angular-chart.js/dist/angular-chart.min.js' %}"></script>

   
{% endcompress %}
 <script type="text/javascript" src="{% static 'app.js' %}"></script>
<link rel="stylesheet" href="{% static 'bower_components/angular-ui-grid/ui-grid.min.css' %}"></script>


    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
<script src="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--  <link rel="stylesheet" type="text/css" href="{% static 'bower_components/angular-material/angular-material.css' %}"> -->
   <!--  <script src="{% static "angularapp/js/app.js" %}"></script> -->
</head>

<body >
  <style type="text/css">
    body { padding-top: 70px; }
  </style>
  <div class="container" >
<nav class="navbar navbar-default navbar-fixed-top" ng-include="'/static/templates/nav.html'" ng-controller="NavbarController">

</nav></div>
<div class="container" ng-controller="mainController">
  <div id="main">

<div ng-view></div>
</div>
</div>

<script>
{% load static %}
var static_url = '{% get_static_prefix %}'
</script>
</body>
</html>