<!-- <div modal="showModal" close="cancel()" > -->
    		<!-- modal header -->
		    <div class="modal-header" style="background-color: #337AB7;padding:10px 10px;color:#FFF;height:60px;" >
		        <h5>MF PURCHASE CONFIRM <i ng-click="cancel()" class="fa fa-remove pull-right" style="cursor:pointer;" ></i></h5>      
		    </div> 
		    <!-- modal body -->   
		    <div class="row modal-body">     	
		        	<div class="form-group col-xs-10">
		        		<p>Kindly click OK to confirm and place the order.</p>
		        		<button class="btn btn-info" ng-click="submitPurchase()">OK</button>
		        		<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
		        	</div>
		    </div> <!-- end of modal body -->
    		     
<!-- </div> -->