<script type="text/javascript">
	/* activate sidebar */
$('#sidebar').affix({
  offset: {
    top: 235
  }
});

/* activate scrollspy menu */
var $body   = $(document.body);
var navHeight = $('.navbar').outerHeight(true) + 10;

$body.scrollspy({
	target: '#leftCol',
	offset: navHeight
});


$( function() {
    $( "#slider-range" ).slider({
      range: true,
      min: 0,
      max: 500,
      values: [ 75, 300 ],
      slide: function( event, ui ) {
        $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
      }
    });
    $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
      " - $" + $( "#slider-range" ).slider( "values", 1 ) );
      
       $( "input .brand-toggle" ).checkboxradio();
    $( ".shape-bar, .brand" ).controlgroup();
    $( ".toggles" ).controlgroup( {
      direction: "vertical"
    } );
  } );
   

</script>
<style type="text/css">
	/*
A Bootstrap 3.1 affix sidebar template
from http://bootply.com

This CSS code should follow the 'bootstrap.css'
in your HTML file.

license: MIT
author: bootply.com
*/

body {
 padding-top:50px;
}

#masthead { 
 min-height:250px;
}

#masthead h1 {
 font-size: 30px;
 line-height: 1;
 padding-top:20px;
}

#masthead .well {
 margin-top:8%;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 50px;
  }
}

.navbar-bright {
 background-color:#111155;
 color:#fff;
}

.affix-top,.affix{
 position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:30px;
  	width:228px;
  }
  
  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}

#sidebar li.active {
  border:0 #eee solid;
  border-right-width:5px;
}
 .shape {
      margin-left: 4em;
      margin-top: 2.5em;
      height: 8em;
      width: 8em;
      box-shadow: 4px 4px 8px;
      color: #ccc;
      background-repeat: no-repeat;
      background-size: 90%;
      background-position: 50%;
    }
    .circle, .pill {
      border-radius: 8em;
    }
    .pill, .rectangle {
      width: 16em;
    }
    .square, .circle {
      margin-left: 9em;
    }
    .border {
      border: 2px solid #333333;
    }
    .toggles {
      width: 200px;
    }
    .toggle-wrap, .shape {
      display: inline-block;
      vertical-align: top;
    }
    .controls {
      background: #ccc;
      padding: 1em;
      display: inline-block;
    }
    table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

</style>




<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  



<!--main-->
<div class="container">
	<div class="row">
      <!--left-->
      <div class="col-md-3" id="leftCol">
        <ul class="nav nav-stacked" id="sidebar">
          <li>
          	<p>
  <label for="amount">Price range:</label>
  <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
</p>
 
<div id="slider-range"></div>
<!--             <p>
  <label for="amount">Price range:</label>
  <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
</p>
<span>£{{filters.price.range[0]}} - £{{filters.price.range[1]}}</span>
            <slider min="filters.price.min" max="filters.price.max" range="filters.price.range"></slider>
 -->
       <!--    <li><div class="toggle-wrap">
    <h5>Fund House</h5>
    <div class="toggles" >
      <label for="color">Shadow</label>
      <input class="toggle brand-toggle" type="checkbox" name="color" id="color">
      <label for="border">Border</label>
      <input class="toggle" type="checkbox" name="border" id="border">
      <label for="background-color">Background</label>
      <input class="toggle brand-toggle" type="checkbox" name="background-color" id="background-color" checked>
      <label for="background-image">Background Image</label>
      <input class="toggle brand-toggle" type="checkbox" name="background-image" id="background-image" checked>
    </div>
  </div></li> -->
          <li ><span> <div class="pull-left">Fund Houses</div><div class="pull-right" ng-click="fundsshow()">+</div></span> <br>
          	<div style="display: {{fundlistactive}};
    max-height: 400px;
    /*width: 200px;*/
    overflow-y: auto;
    background-color: #eee;" >
    <label ng-repeat="x in amc" class="checkbox-inline" style="display: flex; flex-direction: row; align-items: center">
                <!--
                  - use `value="{{fruit.name}}"` to give the input a real value, in case the form gets submitted
                    traditionally

                  - use `ng-checked="fruit.selected"` to have the checkbox checked based on some angular expression
                    (no two-way-data-binding)

                  - use `ng-model="fruit.selected"` to utilize two-way-data-binding. Note that `.selected`
                    is arbitrary. The property name could be anything and will be created on the object if not present.
                -->
                <input type="checkbox" name="selectedamc[]"  ng-checked="selectedamc.indexOf(x) > -1"
    ng-click="toggleSelection(x)" value="{{x}}" > {{x}}
              </label></div>
</li>
          <li ><span> <div class="pull-left">Types of MF</div><div class="pull-right" ng-click="typemfshow()">+</div></span> <br>
          	<div style="display: {{typemfactive}};
    max-height: 400px;
    /*width: 200px;*/
    overflow-y: auto;
    background-color: #eee;" >
    <label ng-repeat="x in typemf" class="checkbox-inline" style="display: flex; flex-direction: row; align-items: center">
                <!--
                  - use `value="{{fruit.name}}"` to give the input a real value, in case the form gets submitted
                    traditionally

                  - use `ng-checked="fruit.selected"` to have the checkbox checked based on some angular expression
                    (no two-way-data-binding)

                  - use `ng-model="fruit.selected"` to utilize two-way-data-binding. Note that `.selected`
                    is arbitrary. The property name could be anything and will be created on the object if not present.
                -->
                <input type="checkbox"   ng-checked="selecTypemf.indexOf(x) > -1"
    ng-click="toggleSelectionmf(x)" value="{{x}}" > {{x}}
              </label></div>
</li>
          <li ><span> <div class="pull-left">Fund Categories</div><div class="pull-right" ng-click="fundcatshow()">+</div></span> <br>
          	<div style="display: {{fundcatactive}};
    max-height: 400px;
    /*width: 200px;*/
    overflow-y: auto;
    background-color: #eee;" >
    <label ng-repeat="x in fundcat" class="checkbox-inline" style="display: flex; flex-direction: row; align-items: center">
                <!--
                  - use `value="{{fruit.name}}"` to give the input a real value, in case the form gets submitted
                    traditionally

                  - use `ng-checked="fruit.selected"` to have the checkbox checked based on some angular expression
                    (no two-way-data-binding)

                  - use `ng-model="fruit.selected"` to utilize two-way-data-binding. Note that `.selected`
                    is arbitrary. The property name could be anything and will be created on the object if not present.
                -->
                <input type="checkbox" name="fundcat[]"  ng-checked="fundcat.indexOf(x) > -1"
    ng-click="toggleSelectionfundcat(x)" value="{{x}}" > {{x}}
              </label></div>
</li>
<li ><span> <div class="pull-left">Ratings</div><div class="pull-right" ng-click="ratingsshow()">+</div></span> <br>
          	<div style="display: {{ratingsactive}};
    max-height: 400px;
    /*width: 200px;*/
    overflow-y: auto;
    background-color: #eee;" >
    <label ng-repeat="x in ratings" class="checkbox-inline" style="display: flex; flex-direction: row; align-items: center" >
                <!--
                  - use `value="{{fruit.name}}"` to give the input a real value, in case the form gets submitted
                    traditionally

                  - use `ng-checked="fruit.selected"` to have the checkbox checked based on some angular expression
                    (no two-way-data-binding)

                  - use `ng-model="fruit.selected"` to utilize two-way-data-binding. Note that `.selected`
                    is arbitrary. The property name could be anything and will be created on the object if not present.
                -->
                <input type="checkbox" name="ratings[]"  ng-checked="ratings.indexOf(x) > -1"
    ng-click="toggleSelectionratings(x)" value="{{x}}" > {{x}} Star
              </label></div>
</li>
          <li><span uib-rating ng-model="rate" max="ratingmax"   on-leave="overStar = null"  ng-click="rateclick(rate)"></span></li>
         {{rate}}
        </ul>
      </div><!--/left-->
      
      <!--right-->
      <div class="col-md-9">
        <h2 id="sec0">Schemes</h2>
        
      <table class="blueTable">
<thead>
<tr>
<th>Scheme</th>
<th>Nav/Nav Daily</th>
<th>AUM</th>
<th>Ratings</th>
<th><table style="width: 100%" class="none"><tr><th colspan="7">Returns</th></tr><tr><th>w1</th><td>m1</td><td>m3</td><td>m6</td>
  <td>y1</td><td>y3</td><td>y5</td></tr></table></th>
<th>BUY/SELL</th>
</tr>
</thead>
<tfoot>
<tr>
<td colspan="6">
<div class="links">


	<a href="#" ng-class="{disabled: currentPage == 1}" ng-click="prevPage()">&laquo;</a> 
	<a class="disabled" disabled="disabled" href="#">{{currentpage}}</a>
	 
	  <a href="#" ng-class="{disabled: currentPage == pages}" ng-click="nextPage()">&raquo;</a>
	</div>
</td>
</tr>
</tfoot>
<tbody>
<tr ng-repeat="x in d_data">
<td>{{x.scheme_name}}</td>
<td>{{x.nav}}</td>
<td>{{x.aum}}</td>
<td>{{x.ratings}}</td>
<td><table style="width: 100%" class="none"><tr><td>{{x.week1}}</td><td>{{x.mth1}}</td><td>{{x.mth3}}</td><td>{{x.mth6}}</td>
  <td>{{x.year1}}</td><td>{{x.year3}}</td><td>{{x.year5}}</td></tr></table></td>
<td><table><tr><td><button ng-click="open(x)">BUY</button></td><td><button>SELL</button></td></tr></table></td>
</tr>

</tbody>
</table>

        
       
      
        <hr>

        </div><!--/right-->
  	</div><!--/row-->
</div><!--/container-->


