<!-- <div modal="showModal" close="cancel()" > -->
    		<!-- modal header -->
		    <div class="modal-header" style="background-color: #337AB7;padding:16px 16px;color:#FFF;height:60px;" >
		        <h5>MF PURCHASE <i ng-click="cancel()" class="fa fa-remove pull-right" style="cursor:pointer;" ></i></h5>      
		    </div> 
		    <!-- modal body -->   
		    <div class="row modal-body">     	
		    	<div class="col-xs-6 col-sm-6" style="border-right:1px solid #ccc;">

		    	<form name="buyForm" novalidate>
		    		<div class="form-group col-xs-10">
		            	<label for="inputsm" >Fund Name</label>
		            	<input type="text" name="fundName" class="form-control input-sm" ng-model="mutf.plan_name"  required>
		            	<p ng-show="buyForm.fundName.$invalid && !buyForm.fundName.$pristine" class="help-block">Fund name is required.</p>
		        	</div>
		        	<div class="form-group col-xs-10">
		            	<label for="inputsm">Scheme Name</label>
		            	<input type="text" name="schemeName" class="form-control input-sm" ng-model="mutf.scheme_name" required>
		            	<p ng-show="buyForm.schemeName.$invalid && !buyForm.schemeName.$pristine" class="help-block">Scheme name is required.</p> 
		        	</div>
		        	<div class="form-group">
		            	<div class="col-xs-7">
		            		<label for="input-sm">Amount To be invested (<i class="fa fa-inr"></i>)</label>
		            		<input type="text" name="amount" class="form-control input-sm" ng-model="amount" required>
		            		<p ng-show="buyForm.amount.$invalid && !buyForm.amount.$pristine" class="help-block">Amount is required.</p>
		            	</div>
		            	<div class="col-xs-5">
		            		<label>Limit (<i class="fa fa-inr"></i>)</label>
		            		<p ng-model="limit">20000000.00</p>
		            	</div>
		        	</div>
		        	<div class="form-group form-check col-xs-10" style="margin-top:15px">
    					<input type="checkbox" class="form-check-input" id="termsNconds" name="termsNconds" ng-model="termsNconds">
    					<label for="termsNconds">I Accept <a>Terms & Conditions</a>.</label>
    					<!-- <p ng-show="buyForm.termsNconds.$invalid" class="help-block" ng-message="checkRequired">Please check terms and conditions.</p> -->
  					</div>
		        	<div class="form-group col-xs-10">
		        		<button class="btn btn-info" ng-click="confirm()" ng-disabled="buyForm.fundName.$dirty && buyForm.fundName.$invalid || 
		        		buyForm.schemeName.$dirty && buyForm.schemeName.$invalid || buyForm.amount.$dirty && buyForm.amount.$invalid ||
		        		!termsNconds" >Submit</button>
		        		<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
		        	</div>
		        </form>
		    	</div>
		    	<div class="col-xs-6 col-sm-6" style="float:left">
		    		<div class="col-xs-10" style="padding:5px;margin-left:10px;">
		            	<label style="width:45%">In multiple of (<i class="fa fa-inr"></i>) :</label>
		            	&nbsp;&nbsp;&nbsp;{{mutf.multipleOf}}
		            </div>
		            <div class="col-xs-10" style="padding:5px;margin-left:10px;">
		            	<label style="width:45%">Min Invested Amt. (<i class="fa fa-inr"></i>) :</label>
		            	&nbsp;&nbsp;&nbsp;{{mutf.minInvestment}}
		            </div>
		            <div class="col-xs-10" style="padding:5px;margin-left:10px;">
		            	<label style="width:45%">Plan :</label>
		            	&nbsp;&nbsp;&nbsp;{{mutf.plan_name}}
		            </div>
		            <div class="col-xs-10" style="padding:5px;margin-left:10px;">
		            	<label style="width:45%">Option :</label>
		            	&nbsp;&nbsp;&nbsp;{{mutf.option}}
		            </div>
		            <div class="col-xs-10" style="padding:5px;margin-left:10px;">
		            	<label style="width:45%">Nav (<i class="fa fa-inr"></i>) :</label>
		            	&nbsp;&nbsp;&nbsp;{{mutf.nav}}
		            </div>
		            <div class="col-xs-10" style="padding:5px;margin-left:10px;">
		            	<label style="width:45%">Nav Date :</label>
		            	&nbsp;&nbsp;&nbsp;{{mutf.navDate}}
		            </div>
		            <div class="col-xs-10" style="padding:5px;margin-left:10px;">
		            	<label style="width:45%">Cut Off Time :</label>
		            	&nbsp;&nbsp;&nbsp;{{mutf.sCutoffTimePurchase}}
		            </div>
		            <div class="col-xs-10" style="padding:5px;margin-left:10px;">
		            	<label style="width:45%">Scheme Code :</label>
		            	&nbsp;&nbsp;&nbsp;{{mutf.scheme_code}}
		            </div>
		            <div class="col-xs-10" style="padding:5px;margin-left:10px;">
		            	<label style="width:45%">Exchange :</label>
		            	&nbsp;&nbsp;&nbsp;{{mutf.exchange}}
		            </div>
		            <div class="col-xs-10" style="padding:5px;margin-left:10px;">
		            	<label style="width:45%">Total Units :</label>
		            	&nbsp;&nbsp;&nbsp;{{mutf.totalUnits}}
		            </div>
		    	</div>
		        
		    </div> <!-- end of modal body -->
    		     
<!-- </div> -->