  <div class="container" role="banner"  >
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Mutual Fund</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="/about">Get Started</a>
        </li>
        <li>
          <a href="#sec">Edit</a>
        </li>
        <li>
          <a href="#sec">Visualize</a>
        </li>
        <li ng-show="authority">
          <a href="/Profile" > {{authority.username}}</a>
        </li>
        <li ng-show="authority">
          <a href="/dashboard" > Dashboard</a>
        </li>
        <li ng-hide="authority" >
          <a href="/login" > Login</a>
        </li>
        <li ng-show="authority" ng-click="logout()">
          <a href="#" >Logout </a>
        </li>
        <li ng-show="authority" ">
          <a href="/portfolio" >Portfolio </a>
        </li>

      </ul>
    </nav>
  </div>