<div class="container">
	<div class="row">
		<div class="col-md-12">
	
  <uib-tabset active="active">
    <uib-tab index="0" heading="Order Book">
    	
    	<div id="grid1" ui-grid="gridOptions" class="grid"></div>
    </uib-tab>
  <uib-tab index="1" heading="Holdings">

    <div id="grid2" ui-grid="gridOptions2" class="grid"></div>
  </uib-tab>
  </uib-tabset>
  
		
		</div>
	</div>
</div>